<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joyce.mapper.StudentMapper">
    <select id="selectAll" resultType="student">
        SELECT * FROM STUDENT
    </select>

    <select id="selectById" resultType="student" parameterType="int">
        SELECT * FROM STUDENT WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="student">
        INSERT INTO STUDENT values (#{id}, #{name}, #{age})
    </insert>

    <update id="update" parameterType="student">
        UPDATE STUDENT SET name=#{name}, age=#{age} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM STUDENT WHERE id=#{id}
    </delete>
</mapper>